<div>
    <h1>Welcome {{user.first_name}} {{user.last_name}}!</h1>
    <div>
        <p>Age: {{user.age}}</p>
        <p>Role: {{user.role}}</p>
        <p>Email: {{user.email}}</p>
        <p>Cart: {{user.cart}}</p>
    </div>
    <form action="/api/users/{{user.id}}/documents" method="POST" enctype="multipart/form-data">
        <input type="file" name="files" multiple>
        <input type="hidden" name="type" value="profile"> 
        <button type="submit">Upload Files</button>
    </form>
    <button onclick="window.location.href='/products'">Go to Products</button>
</div>